    .p-contact {
        @extend .l-main__aria;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        @media screen and (max-width: $bp-small) {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .p-contact__container {
        display: flex;
        @media screen and (max-width: $bp-small) {
            margin-bottom: 0;
            padding-bottom: 2rem;
        }
        @media screen and (max-width: $bp-xsmall) {
            flex-flow: column;
            margin-bottom: 0;
        }
    }

    .p-contact__form {
        padding: 0 0 5rem;
        @media screen and (max-width: $bp-small) {
            padding: 1rem;
        }
        @media screen and (max-width: $bp-xsmall) {
            padding: 1rem 2rem 3rem;
        }
    }

    .p-contact__tel {
        padding: 1rem 0 3rem;
        width: calc(70% - 5rem);
        padding-right: 5rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
        border-right: 1px solid $gray;
        @media screen and (max-width: $bp-small) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
        @media screen and (max-width: $bp-xsmall) {
            width: 100%;
            border-right: none;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 2rem;
            padding-right: 2rem;
            padding-left: 2rem;
            border-bottom: 1px solid $gray;
        }
        .title {
            padding-top: 1rem;
            padding-bottom: 1rem;
            display: inline-flex;
            flex-wrap: wrap;
            h3 {
                font-size: 1.6rem;
                padding-right: 0.5rem;
                padding-bottom: 0.8rem;
            }
        }
        .time {
            border: 1px solid $gray;
            padding: 0.2rem;
            font-size: 1.3rem;
            display: inline-block;
            height: 2rem;
        }
    }

    .p-contact__tel-dl {
        width: 100%;
        padding: 3rem;
        dt {
            @extend .webfont-bold;
            padding-left: 0.5rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid $black;
            margin-bottom: 1rem;
        }
        dd {
            padding-left: 0.5rem;
            margin-bottom: 3rem;
            font-size: 1.3rem;
            line-height: 1.5;
            .tel {
                font-size: 1.8rem;
                display: block;
                margin-bottom: 0.5rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .p-contact__content-text {
        text-align: center;
        @extend .webfont;
        @include rem(margin-bottom, 5rem);
        @media screen and (max-width: $bp-small) {
            @include rem(padding, 0);
            text-align: left;
            @include rem(margin-bottom, 2rem);
        }
    }

    .p-contact__text-area {
        @include rem(margin, 0 auto);
        width: 100%;
        padding: 1rem;
        font-size: 1.6rem;
        height: 15rem;
    }

    // .p-contact__text-area-subtext {
    //     @include rem(padding-bottom, 2rem);
    // }
    .p-contact__text-area {
        table {
            border-collapse: collapse;
        }
        input[type="text"],
        input[type="email"],
        input[type="mail"],
        input[type="tel"],
        select,
        textarea,
        button {
            box-shadow: none;
            outline: none;
            border: none;
        }
        input[type="text"],
        input[type="email"],
        input[type="mail"],
        input[type="tel"],
        textarea {
            border: 1px solid $black;
            background: $white;
            display: block;
            @include rem(padding, 1rem 1.3rem);
            transition: 0.8s;
            border-radius: 0;
        }
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="mail"]:focus,
        input[type="tel"]:focus,
        textarea:focus {
            background: $gray;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }
        textarea {
            display: block;
            width: 80%;
            height: 200px;
        }
        input::placeholder,
        textarea::placeholder {
            color: #ccc;
        }
        label {
            padding-right: 0.5rem;
        }
        input[type="checkbox"] {
            margin-top: -0.5rem;
        }
    }

    .p-contact__form-table {
        input {
            border: 1px solid $gray;
            padding: 0.5rem;
            font-size: 1.8rem;
        }
        width: 90%;
        max-width: 40rem;
        margin: 0 auto 4rem;
        background-color: $white;
        border-left: 1px solid $darkgray;
        border-right: 1px solid $darkgray;
        border-bottom: 1px solid $darkgray;
        @media screen and (max-width: $bp-small) {
            margin: 0 auto 3rem;
        }
        @media screen and (max-width: $bp-xsmall) {
            margin: 0 auto 2rem;
        }
        th,
        td {
            border-top: 1px solid $darkgray;
            border-bottom: 1px solid $darkgray;
            padding: 20px;
            @media screen and (max-width: $bp-small) {
                display: block;
                border-bottom: none;
            }
            &.back {
                background-color: $cream;
            }
        }
        th {
            .required {
                color: $red;
                font-size: 1.3rem;
                border: 1px solid $red;
                background-color: $white;
                padding: 2px 3px;
                margin-right: 5px;
            }
            background-color: $lightgray2;
            position: relative;
            text-align: left;
            width: 280px;
            vertical-align:middle;
            @media screen and (max-width: $bp-small) {
                display: block;
                width: 100%;
                border-bottom: none;
            }
        }
        label {
            white-space: nowrap;
        }
    }

    .p-contact__small {
        width: 50%;
        min-width: 150px;
        max-width: 250px;
    }

    .p-contact__middle {
        width: 70%;
        max-width: 300px;
    }

    .p-contact__form-table-row {
        display: flex;
        flex-flow: row;
        @media screen and (max-width: $bp-small) {
            flex-flow: column;
        }
        .family {
            display: flex;
            align-items: center;
            @media screen and (max-width: $bp-small) {
                padding-bottom: 1rem;
            }
        }
        .name {
            padding-left: 2rem;
            display: flex;
            align-items: center;
            @media screen and (max-width: $bp-small) {
                padding-left: 0;
            }
        }
    }

    .p-contact__form-input {
        line-height: 1.5;
    }

    .p-contact__form-select {
        overflow: hidden;
        width: 80%;
        padding: 0.6rem 0.8rem 1rem;
        select {
            width: 100%;
            padding-right: 1em;
            cursor: pointer;
            text-indent: 0.01px;
            text-overflow: ellipsis;
            border: none;
            outline: none;
            background: transparent;
            background-image: none;
            box-shadow: none;
            -webkit-appearance: none;
            appearance: none;
        }
        select::-ms-expand {
            display: none;
        }
        &.list {
            position: relative;
            border-radius: 2px;
            border: 1px solid $black;
            border-radius: 0;
            background: #ffffff;
            &:before {
                position: absolute;
                top: 1.3rem;
                right: 1rem;
                width: 0;
                height: 0;
                padding: 0;
                content: "";
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid $black;
                pointer-events: none;
                @media screen and (max-width: $bp-small) {
                    top: 1.8rem;
                }
            }
            &.list select {
                padding: 8px 38px 8px 8px;
                color: $black;
            }
        }
    }

    .p-contact__forget {
        padding: 2rem;
        @media screen and (max-width: $bp-small) {
            padding: 1rem;
        }
        a {
            padding-bottom: 0.3rem;
            border-bottom: 1px dotted $black;
            &:hover {
                border-bottom: none;
            }
        }
    }

    .p-contact__form-submit {
        text-align: center;
        button[type=submit] {
            display: inline-block;
            border: 2px solid $black;
            padding: 1.1rem 2.4rem;
            margin-bottom: 2rem;
            font-size: 1.8rem;
            transition: all .3s;
            i {
                padding-left: 0.3rem;
            }
            text-align: center;
            &:hover {
                background-color: $cream;
            }
        }
        input[type=checkbox] {
            display: none;
        }
        .checkbox-color {
            box-sizing: border-box;
            cursor: pointer;
            display: inline-block;
            padding: 5px 30px;
            position: relative;
            width: auto;
        }
        .checkbox-color::before {
            background: #fff;
            border: 1px solid #231815;
            content: '';
            display: block;
            height: 16px;
            left: 5px;
            margin-top: -8px;
            position: absolute;
            top: 50%;
            width: 16px;
        }
        .checkbox-color::after {
            border-right: 3px solid $pink;
            border-bottom: 3px solid $pink;
            content: '';
            display: block;
            height: 9px;
            left: 10px;
            margin-top: -7px;
            opacity: 0;
            position: absolute;
            top: 50%;
            transform: rotate(45deg);
            width: 5px;
        }
        input[type=checkbox]:checked+.checkbox-color::after {
            opacity: 1;
        }
        input {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            height: 2rem;
            @include rem(border-radius, 0.3rem);
            border: 1px solid $black;
            background-color: $white;
            width: 200px;
            color: $black;
            &:last-child {
                margin-left: 3rem;
            }
            @media screen and (max-width: $bp-small) {
                height: 5rem;
                width: 35%;
            }
        }
    }

    .p-contact__add-wrap {
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: $bp-small) {
            flex-flow: column;
        }
        a {
            font-size: 1.3rem;
        }
    } // .p-contact__form-privacy {
    //     width: 100%;
    //     margin: 0 auto 5rem;
    //     display: flex;
    //     justify-content: center;
    //     flex-flow: row;
    //     .required {
    //         color: $red;
    //         font-size: 1.3rem;
    //         border: 1px solid $red;
    //         background-color: $white;
    //         padding: 2px 3px;
    //         margin-right: 5px;
    //     }
    //     label {
    //         display: block;
    //     }
    // }
    // span.wpcf7-not-valid-tip {
    //     font-size: 1.1rem;
    //     padding-top: 0.3rem;
    // }